#wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    border: 10px solid white;
}

.grid-item {
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 7px #ffffff;
}

.empty-cell {
    background: #f48c96;
}